.pesan {
	position: absolute;
	z-index: 10000;
    width: 100%;
    margin-top: 1%;
}
.font-13px {
	font-size: 13px;
}
#myTable_wrapper {
	width: 100%;
}
.site-footer {
	width: 100%;
    height: 6%;
    position: fixed;
    bottom: 0;
    background: #2f323a;
}
.btn-tambah {
	margin: 0 0 2% 0;
}
.form-control {
	height: 35px !important;
}
.dated {
	padding: 0 !important;
}
.date-span {
	margin-left: -10px;
}
.select2-container {
    width: 50% !important;
}